{% load static %}
<footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <h6 class="text-white">г. Москва, Астраханский переулок, д.24, стр.4</h6>
            </div>
            <div class="contact-details">
              <p>Tokyo Underground</p>
              <p>Phone: 89204130639</p>
              <p>Email: <a href="mailto:info@company.com">chuyko@informatics.ru</a></p>
              <ul class="social-menu">
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa discord"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="menus d-flex">
              <ul class="list-unstyled">
                <li> <a href="#">Privacy &amp; Policy</a></li>
                <li> <a href="#">FAQ</a></li>
              </ul>
              <ul class="list-unstyled">
                <li> <a href="#">How It Works</a></li>
                <li> <a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2022. All rights reserved. Sakaiju.</p>
            </div>

          </div>
        </div>
      </div>
    </footer>